# Custom files
LocalConfig.cmake

# Custom directories
.idea/
.vscode
.vs
.DS_Store
.cache
build*/
install-debug/
install-release/
data/
doc/_build
vcpkg_installed/


# Log files
logs/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Doxygen files
docs/html
docs/latex

# Cmake files
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json